<template>
  <div>
      <p> HelloWorld</p>
      {{test}}
  </div>
</template>

<script>
export default {
    props: ['test'],
    mounted() {
        console.log(this.attrs)
    }
//     computed: mapState([
//     'data'
//   ])
}
</script>

<style>

</style>