<template>
  <nav :class= "{ slideoOutMenu: show }" @mouseenter="NavMouse">
    <div class="menu-icon"  v-on:click="show = !show"><span v-if="!show" class="menu-button"></span><span v-else class="menu-button-close"></span></div>
    <div class="nav_links">
      <NuxtLink to="/" class="reset-link" @click.native="show = false"
        ><h3>
          Home
        </h3></NuxtLink
      >
      <NuxtLink to="/shop" class="reset-link" @click.native="show = false"
        ><h3>
          Shop
        </h3></NuxtLink
      >
      <NuxtLink to="/about" class="reset-link" @click.native="show = false"
        ><h3>
          About
        </h3></NuxtLink
      >
    </div>
   <!-- {{ slides[0].slides }} -->
    <!-- <SliderThing :images="slides[0]" class="slider" /> -->
    <!-- <div class="menu_text">
      <h2 class="reset-link">MENU</h2>
    </div> -->

  </nav>
</template>

<script>
import { mapState } from "vuex";
import SliderThing from "~/components/SliderThing.vue";

export default {
  data (){
    return{
      show: false
    }
  },
  components: {
    SliderThing
  },
  computed: mapState(["slide", "tests"]),
  methods: {
      NavMouse() {
        console.log('Hello WOrld');
      }
    }


  // mounted(){
  //       console.log(tests)
  // }
};
</script>

<style>
nav {
  top: 0;
  left: 0;
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-right: 1px solid black !important;
  background: white;
  transition: 0.3s;

}

.hidden{

}

.nav_links {
  display: flex;
  flex-direction: column;
  width: 40vw;
  text-align: center;
  margin: auto;
  align-content: center;
  justify-content: center;
  height: 100vh;
  line-height: 1.5rem;
}



.menu-icon{
  padding: 40px 20px 40px 40px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.menu-button:before{
  content: '\2630';
  font-style: normal;
}

.menu-button-close:before{
  content: '\2715';
  font-style: normal;
}

.slideoOutMenu{
  left: 0%;
  transition: 0.3s;
}


.menu_text {
  z-index: 10;
  position: fixed;
  width: 50vw;
  top: 49vh;
  left: 0;
  color: white;
  text-align: center;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.menu_text h2 {
  font-size: 50px;
}

/* .swiper-container:hover  {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
} */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Media Screens ||||||||||||||||||||||||||||||||| */

@media only screen and (max-width: 768px){
  .menu-icon{
    display: block;
  }
  nav{
    width: 100%;
    z-index: 21;
    left: -100vw;
  }

  
}
</style>
