<template>
  <div class="tiles">
    <NuxtLink :to="'/products/' + product.slug" :slug="product.id">
      <div class="image_container">
        <img :src="product.title_image.data.thumbnails[7].url" alt="" class="cover" />
      </div>
      <div class="tiles_subtitle">
        <p>{{ product.title }}</p>
        <p>{{ Number.parseFloat(product.price).toFixed(2) }}€</p>
      </div>
    </NuxtLink>
  </div>
</template>

<script>
export default {
  props: ["product"]
};
</script>

<style>
.image_container img {
  width: 100%;
  height: 100%;
}

.image_container {
  width: 100%;
  height: 25vw;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  margin-bottom: 10px;
}

.tiles {
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  .image_container{
    height: 83vw;
  }

}
</style>
