<template>
  <div class="swiper-container">
      <div class="swiper-wrapper">
        <div v-for="image in images" :key="image.id" class="swiper-slide">
            <img :src="image.directus_files_id.data.thumbnails[7].url" alt="">
            <!-- <img :srcset="require('image.directus_files_id.data.full_url').srcSet" /> -->
        </div>
      </div>

  </div>
  
</template>

<script>
import Swiper from 'swiper'

export default {
  props: ["images", "sliderStyle"],
  components: {
      
    },
  mounted(){
    // console.log(this.sliderStyle);
    var mySwiper = new Swiper('.swiper-container', { 
      loop: true,
      effect: this.sliderStyle,
      autoplay: {
        delay: 5500,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: '.button-next',
        prevEl: '.button-prev',
      }
    }) //RESOLVE_PLZ
  }
}
</script>

<style>

  .slider{
    font-size: 20px
  }

  .swiper-slide{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  

  
</style>