<template>
  <div class="product_page ">
    <!-- <div class="backbutton margins">
      <nuxt-link to="/shop">Back to Overview</nuxt-link>
    </div> -->
    <!-- <img :src='files[data.title_image - 1].data.full_url'/> -->
    <div class="product_center_wrapper">
      <div class="product_wrapper">
        <!-- <div class="product_images" v-for="product_image in images.product_images" :key="product_image.id">
        {{product_image.directus_files_id.data.full_url}}
        </div> -->
        <SliderThing :images="images.product_images" sliderStyle="fade" class="slider"  id="slider" />
        <div class="slider_nav">
            <div class="button-prev"></div>
            <div class="button-next"></div>
        </div>
        <div class="product_title">
          <h2>
            {{ data.title }}
          </h2>
          <p>{{ Number.parseFloat(data.price).toFixed(2) }}€</p>
        </div>
        <p>
          {{ data.description }}
        </p>
        <div class="margin-to-small">

          <div v-html="data.size"></div>
        </div>
        <p v-if="data.anfrage" class="alert">Only on request</p>
        <!-- <button
          class="snipcart-add-item"
          :data-item-id="data.id"
          :data-item-price="data.price"
          :data-item-url="'/products/' + data.slug"
          :data-item-description="data.description"
         
          :data-item-name="data.title"
          data-item-custom1-name="Messures"
          :data-item-custom1-type="data.anfrage ? 'textarea' : 'none'"
          data-item-max-quantity="1"
        >
          Send request
        </button> -->
        <a class="request" href="mailto:hola@molinadelrey.de"
          
        >
         <!-- :data-item-image="files[data.title_image - 1].data.full_url" -->
          Send request
        </a>
        <nuxt-link to="/shop"><span class="arrow"></span> Back to Overview</nuxt-link>
        <!-- {{images.product_images}} --><br>
       
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import SliderThing from "~/components/SliderThing.vue";

export default {
  components: {
    SliderThing
  },
  // async asyncData ({ params, error }) {
  //   try {
  //     const { data } = await axios.get(`https://backend.molinadelrey.com/molina/items/produkte?filter[slug]=${params.slug}`)
  //     return data
  //   } catch (e) {
  //     error({ message: 'User not found', statusCode: 404 })
  //   }
  // }
  async asyncData({ query, params, error }) {
    const data = await axios.get(
      `https://backend.molinadelrey.com/molina/items/produkte?filter[slug]=${params.slug}`
    );
    // const files = await axios.get(
    //   "https://backend.molinadelrey.com/molina/files"
    // );
    const images = await axios.get(
      `https://backend.molinadelrey.com/molina/items/produkte/${data.data.data[0].id}?fields=*.*.*`
    );
    return {
      data: data.data.data[0],
      // files: files.data.data,
      images: images.data.data
    };
  },
  mounted(){
    // function styletoggle(){
    //       var element = document.getElementById("slider");
    //       element.classList.toggle("mystyle");
    // }
  }
};
</script>

<style>
.request{
  cursor: pointer;
}

.product_page {
  /* height: 100%; */
}

.product_center_wrapper {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: calc(100vh - 140px);
  align-items: center;
}

.product_wrapper {
  width: 50%;
}

.product_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
  align-items: flex-end;
}

.product_wrapper a.request {
  background: white;
  border: 1px solid black;
  font-family: "Amiri", serif;
  font-size: 14px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 15px;
  display: inline-block;
  text-align: center;
}

.margin-to-small{
  margin-top: 20px;
}

.arrow::before{
  content: ' \2190';
}

.alert{
  color: gray;
}

.button-next, .button-prev {
  position: fixed;
  left: calc(50% - 1px);
  top: calc(100vh - 98px);
  z-index: 10;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: 1px solid black;
  padding: 15px;
  background: white;
}

.button-next:hover, .button-prev:hover{
  background: white;
}

.button-next:active, .button-prev:active{
  background: lightgray;
}


.button-prev {
  margin-top: 49px
}

.button-next::before{
  content: ' \2192';
  
  /* font-size: 22px; */
}

.button-prev::before{
  content: ' \2190';
  /* font-size: 22px; */
}

/* /* .swiper:hover {
  opacity: 0.3;
  transition: opacity 0.55s ease-in-out;
  -moz-transition: opacity 0.55s ease-in-out;
  -webkit-transition: opacity 0.55s ease-in-out;
} */

.slider {
  top: 0;
  left: -1px;
  position: fixed;
  height: 100vh;
  width: 50vw;
  pointer-events: none;
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  cursor: default;
  z-index: 0;
}

/* .swiper-slide > img{
  pointer-events: none;
  display: block;
}

/* .swiper-wrapper{
    pointer-events: none;
  display: inline-block;
} */
/* 
.swiper-slide:hover > img{
  opacity: 0;
} */ 



@media only screen and (max-width: 768px){
    .product_wrapper {
    width: 75%;
  }

  .slider{
    position: absolute;
    width: 100vw;
    height: 40vh;
    left: 0;
    z-index: -1;
  }

  .product_center_wrapper{
    margin-top: 40vh ;
  }
  .button-next, .button-prev{
    position: relative;
    width: 50%;
    top: auto;
    left: auto;
    text-align: center;
    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }

  .button-next{
    border-right: none;
  }

  .slider_nav{
    display: flex;
    position: absolute;
    top: 40vh;
    width: 100%;
    left: 0;
  }
  .button-prev{
    margin-top: 0;
  }
}

</style>
