<template>
  <div class="wrapper">
    <Nav />
    <div class="right_wrapper ">
      <div class="right_header paddings">
        <nuxt-link to="/" class="header_name">MOLINA DEL REY</nuxt-link>
        <!-- <button class="snipcart-checkout">
          Cart (<span class="snipcart-items-count"></span>)
        </button> -->
      </div>
      <nuxt class="nuxt" />
      <footer>
        <div class="line"></div>
        <div class="footer-list margins">
          <ul>
            <li v-for="site in tests" :key="site.id">
              <nuxt-link
                :to="'/' + site.title"
                :prop="site.title"
                class="reset-link"
                >{{ site.title }}</nuxt-link
              >
            </li>
          </ul>
          <a href="https://www.instagram.com/molina_del_rey/" class="instagram_icon">
            <img src="/instagram.png" alt="">
          </a>
        </div>
        <cookie-law theme="base" message="This website uses cookies to give you the best shopping experience. By continuing to browse the website we assume that you agree to the use of such cookies. ">
        </cookie-law>
      </footer>
    </div>
    <div
      id="snipcart"
      data-api-key="NzcyYjI3NjEtOGI2My00NTgzLWE1MDQtMWQzMmExNzdkZTcwNjM2OTM5MzY5Nzk5NTI4MDc3"
      hidden
    ></div>
  </div>
</template>

<script>

import { mapState } from "vuex";
import Nav from "~/components/Nav.vue";
export default {
  components: {
    Nav
  },
  computed: mapState(["slides", "tests"])
};
</script>

<style>
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 18px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Amiri", serif;
  font-size: 14px;
  line-height: 18px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /* height: 100%;
  overflow: hidden; */
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-style: italic;
}

h2 {
  font-style: italic;
  letter-spacing: 1px;
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.wrapper {
 
  display: flex;
  flex-direction: row;
  /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto; */
}

.cover {
  object-fit: cover;
}

.scale15 {
  transform: scale(1.5);
}

.header_name {
  font-style: normal;
  letter-spacing: 4px;
}

.right_wrapper {
  width: 50vw;
  margin-left: 50vw;
}

.right_header {
  position: fixed;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  z-index: 20;
}

.right_header button {
  background: transparent;
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  border: 0;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
}

.margins {
  margin: 60px;
}

.paddings {
  padding: 60px;
}

.line {
  border-bottom: 1px solid black;
  width: 100%;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.nuxt {
  margin-top: 140px;
}

.uppercase {
  text-transform: uppercase;
}

footer {
  background: #ffe1ed;
  overflow: auto;
}

.footer-list {
  /* CATEGORY ONE */
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #515356;
  margin-bottom: 60px;
  justify-content: space-between;
}

.reset-link {
  font-style: normal;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.underline:hover{
  text-decoration: underline;
  transform: translateY(-5px);
  transform: scale(1.1);
  transition: 0.2s;
}

/* Snipcart Modifications */
.snipcart{
  font-family: "Amiri", serif;
  font-size: 14px;
  line-height: 18px;
}

.snipcart-modal{
  background: white;
}

.snipcart-modal__container{
  left: 50%;
  width: 50%;
  padding-top: 10vh;
  background: white;
}

.snipcart__font--secondary, .snipcart__font--subtitle{
  font-family: "Amiri", serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.snipcart-modal__close{
  font-family: "Amiri", serif;
}

.snipcart-cart-header{
  background: white;
  
}

.snipcart-cart-header__options{
  display: none;
}

.snipcart-cart__content{
  background: white;
}

.snipcart-cart__footer-col{
  width: 45%
}

.snipcart-discount-box{
 background: white;
}

.snipcart-item-line{
  border: 1px solid black;
  box-shadow: none;
}


.snipcart-featured-payment-methods__title{
  background: #fff;
}

.Cookie__button{
  background: black !important;
  font-family: "Amiri", serif !important;
}

.instagram_icon img{
  width: 25px;
  height: 25px;
}



@media only screen and (max-width: 768px){
  .right_wrapper{
    width: 100vw;
    margin-left: 0vw;
  }
  .right_header{
    width: 100vw;
    padding: 40px;
    padding-left: 70px;
  }
  .margins{
    margin: 40px;
  }
  .snipcart-modal__container{
    width: 100%;
    left: 0;
    padding-top: 0;
  }
  .snipcart-cart__footer-col{
    width: 100%;
  }
  .snipcart-modal__container{
    padding-top: 75px;
  }
  .snipcart-cart-header{
   position: fixed;
   padding-top: 85px;
  }
  .snipcart-layout__content{
    padding-top: 120px;
  }
}
</style>
