<template>
  <div class="margins">
    <!-- {{tests}} -->
    <h2>{{files.title}}</h2>
    <div v-html="files.body" class="sonstige-wrapper"></div>
  </div>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";

export default {
async asyncData({ query, params, error }) {
    const files = await axios.get(
      `https://backend.molinadelrey.com/molina/items/sonstige?filter[title]=${params.sonstige}`
    );
    return {
      files: files.data.data[0]
    };
  },
  computed: mapState(["slides","tests"]),
  props: ["prop"]
};
</script>

<style>
.sonstige-wrapper p{
  margin-bottom: 20px;
}

.sonstige-wrapper{
  margin-top: 40px;
}

</style>
