<template>
  <div class="about margins">
    <div class="about_wrapper">
      <div class="about_image slider">
        <img :src="about.data[0].image.data.full_url" alt="" />
      </div>
      <h1 class="headline_about header_name margins">{{ about.data[0].title }}</h1>
      <div v-html="about.data[0].text" class="about_text"></div>
      <nuxt-link to="/" class="margin_back"
        ><span class="arrow"></span> Back to Overview</nuxt-link
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  transition: {
    name: "layout",
    mode: "out-in",
  },
  async asyncData() {
    const about = await axios.get(
      "https://backend.molinadelrey.com/molina/items/about?fields=*.*"
    );
    return {
      about: about.data,
    };
  },
};
</script>

<style>
.about {
  display: flex;
  align-items: center;
  vertical-align: center;
  height: calc(100vh - 200px);
  justify-content: center;
}

.about_wrapper{
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
}

.about img {
  width: 100%;
  height: auto;
}

.headline_about{
  text-transform: uppercase;
  text-align: center;
}

.margin_back{
  margin: 20px 0px;
}

.slider {
  top: 0;
  left: -1px;
  position: fixed;
  height: 100vh;
  width: 50vw;
  pointer-events: none;
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  cursor: default;
  z-index: 0;
}

.about_text {
}

.about_wrapper .slider img {
  object-fit: cover;
  height: 100vh;
}

@media only screen and (max-width: 768px){
  .about{
    margin-top: 40vh;
    height: calc(100vh - 200px);
  }
  .slider{
    position: absolute;
    width: 100vw;
    height: 40vh;
    left: 0;
    z-index: -1;
  }
  .about_wrapper .slider img{
    height: 40vh;
    border-bottom: 1px solid black;
  }
  .about_wrapper{
    width: 85%;
  }
}
</style>
