<template>
  <div class="container">
    <div class="start_screen"  >
      <div class="start_images">
        <img :src="slides[0].title_image.data.full_url" alt="" class="cover" />
        <img :src="slides[0].logo.data.full_url" alt="" class="scale15" />
      </div>
    </div>
    <p class="margins">See More<br />&darr;</p>
    <div class="line"  ></div>
    <div class="second_screen"  >
      <img :src="slides[0].image_2.data.full_url" alt="" />
      <img :src="slides[0].image_3.data.full_url" alt="" />
    </div>
    <div class="line"  ></div>
    <section v-if="slides[0].first_text">
      <div class="third_screen margins"  >
        <p class="">{{ slides[0].first_text }}</p>
      </div>
    </section>
    <div class="line"  ></div>
    <div class="fourth_screen"  >
      <p class="margins italic">{{ slides[0].second_text }}</p>
      <img :src="slides[0].image_4.data.full_url" alt="" />
    </div>
    <div class="line"  ></div>
    <div class="fifth_screen"  >
      <h3 class="margins">FRESHLY KNITTED</h3>
      <div class="tiles_wrapper margins">
        <div
          v-for="product in slides[0].selection"
          :key="product.id"
          class="tiles_parent"
        >
          <ProductTiles :product="product.produkte_id" />
        </div>
      </div>
      <nuxt-link to="/shop" class="margins block underline">See all Products</nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import ProductTiles from "~/components/ProductTiles.vue";

export default {
  computed: mapState(["slides"]),
  components: {
    ProductTiles,
  },
};
</script>

<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.start_screen {
  margin: 6vw 0vw;
  margin-bottom: 10vw;
  width: 25vw;
  height: 25vw;
  position: relative;
}

.second_screen {
  display: flex;
  width: 100%;
  height: 30vw;
}

.second_screen img {
  width: 50%;
  border-right: 1px solid black;
  object-fit: cover;
}

.start_images img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.third_screen {
  font-style: italic;
  height: 45vh;
  display: flex;
  align-items: center;
}

.third_screen p {
  max-width: 400px;
}

.fourth_screen {
  display: flex;
  align-items: center;
  width: 100%;
}

.fourth_screen p{
  width: calc(50% - 120px);
}

.fourth_screen img {
  width: 50%;
  border-left: 1px solid black;
}

.tiles_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.tiles_parent {
  width: 47%;
  box-sizing: border-box;
  margin-bottom: 60px;
  transition: all 0.2s ease-in-out;
}

.arrow-2 {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.block {
  display: block;
}



@media only screen and (max-width: 768px){
  .fourth_screen p{
    height: 45vh;
    display: flex;
    align-items: center;
  }
  .tiles_parent{
    width: 100%;
  }
  .tiles_wrapper{
    display: block;
  }
  .start_screen{
    width: 45vw;
    height: 45vw;
  }
  .second_screen{
    display: block;
    height: auto;
  }
  .second_screen img{
    display: block;
    width: 100%;
    height: 45vh;
  }
  .second_screen img:first-child{
    border-bottom: 1px solid #000;
  }
  .fourth_screen img{
    width: 100vw;
    display: block;
  }
  .fourth_screen{
    display: block;
  }
  .fourth_screen p {
    width: auto;
  }
}
</style>
