<template>
  <section>
    <div class="categories">
      <label ><input type="radio" v-model="categoryFilter" value="All" checked="checked"><span>All</span></label><label v-for="category in categories.data" :key="category.id"><input type="radio" v-model="categoryFilter" :value="category.category" ><span>{{category.category}}</span></label>
    </div>
    <div class="tiles_wrapper margins">
      <transition-group name="list" tag="div" style="width: 100%">
        <div v-for="product in filteredPeople" :key="product.id" class="tiles_parent">
            <ProductTiles :product="product" />
        </div>
      </transition-group>
    </div>
  </section>
</template>

<script>
import axios from 'axios';
import ProductTiles from '~/components/ProductTiles.vue';
 


export default {
  data: function(){
    return{
      categoryFilter: 'All'
    }
  },
   transition: {
    name: 'layout',
    mode: 'out-in'
  },
  components: {
      ProductTiles
  },
  async asyncData () {
   const products  = await axios.get('https://backend.molinadelrey.com/molina/items/produkte?fields=*.*.*')
   const  categories  = await axios.get('https://backend.molinadelrey.com/molina/items/categories')
    return { 
      products: products.data,
      categories: categories.data
    }
  },
  computed: {
		filteredPeople: function() {
			const category = this.categoryFilter;
      // wenn es die Kategrie ALL ist wird alles gezeigt. ALL iat in DATA schon voreingestellt
      // Ist auch im Inpiut als Value eingegeben, damit es voreingestelt ist.
			if(category === "All") {
        // Alles wird gezgit
				return this.products.data.slice().reverse();
			} else {
        // Anosonsten wird das Array gefiltert. Muss nur Bolean retunen.
				return this.products.data.filter(function(thing) {
          var thingy = thing.categories;
          // Array erstellen mit den Kategorien
          const one = [];
          // Array updaten
          thingy.forEach(element => {
             one.push(element.categories_id.category);
            //  console.log(one);
          });
          // Vergleichen ob Kategorie aus Inout im Array enthalten ist
          return one.includes(category);
          
				}).slice().reverse();
			}
    }
  }
}
</script>

<style>
label > input[type=radio] {
    display: none;
}

.categories input[type=radio]:checked ~ * { 
    font-style: italic;
}

.categories{
  display: flex;
  width: 200px;
  margin: auto;
  justify-content: space-between;
}

.tiles_wrapper > *{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    min-height: 45vh;
}

/* .tiles_parent{
  width: 47%;
  box-sizing: border-box;
  margin-bottom: 60px;
  transition: all 0.2s ease-in-out;
} */

.list-enter-active, .list-leave-active {
  transition: all 0.2s ease-in-out;
  /* transform: scale(0); */
  opacity: 0;
  position: absolute;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  /* opacity: 0; */
  transform: scale(0);

}

.list-move {
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 768px){
  .product_wrapper{
    width: 76%;
  }
}


</style>